.folder-node-box {
	border: solid;
	border-width: 1px;
	border-color: var(--light);
	padding: 0.2rem;
	width: 172px;
	background-color: var(--white);
	border-radius: 5px;
	display: flex;
	cursor: pointer;
}
.node-title {
	width: 100%;
	color: black;
	flex-grow: 1;
	text-align: start;
	text-transform: capitalize;
	padding: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: flex;
	cursor: pointer;
}
.node-title-content {
	margin-top: auto;
	margin-bottom: auto;
	width: 100%;
}
.node-icon {
	flex-shrink: 0;
	padding: 10px;
	padding-right: 0;
	display: flex;
}
.node-icon-box {
	background-color: var(--light);
	padding: 8px;
	margin: auto;
	display: flex;
	border-radius: 5px;
	cursor: pointer;
}
.node-icon-box svg {
	margin: auto !important;
	color: #ffe04b;
}
.folder-node-box .top-connector {
	position: absolute;
	right: calc(172px / 2);
	top: -5px;
}

.folder-node-box .bottom-connector {
	position: absolute;
	right: calc(172px / 2);
	bottom: -5px;
}

.add-action {
	height: 15px !important;
	position: absolute;
	left: calc(157px / 2);
	bottom: -14px;
	width: 15px !important;
	font-size: 0.5rem;
	z-index: 9;
}
.selected {
	border: 2px solid var(--primary);
	border-radius: 5px !important;
}
