// Brand Primary

$brand-primary: #5924EB;
$brand-primary-darken-1: #4212C7;
$brand-primary-darken-2: #320E95;
$brand-primary-darken-3: #210963;
$brand-primary-darken-4: #110532;
$brand-primary-darken-5: #000000;
$brand-primary-lighten-1: #7549EE;
$brand-primary-lighten-2: #906DF2;
$brand-primary-lighten-3: #AC92F5;
$brand-primary-lighten-4: #C8B6F8;
$brand-primary-lighten-5: #E3DBFC;
$brand-primary-lighten-6: #FBFAFF;

// Brand Secondary

$brand-secondary: #FFC124;
$brand-secondary-darken-1: #F3AE00;
$brand-secondary-darken-2: #C28B00;
$brand-secondary-darken-3: #926800;
$brand-secondary-darken-4: #614600;
$brand-secondary-darken-5: #312300;
$brand-secondary-lighten-1: #FFCB48;
$brand-secondary-lighten-2: #FFD66D;
$brand-secondary-lighten-3: #FFE092;
$brand-secondary-lighten-4: #FFEAB6;
$brand-secondary-lighten-5: #FFF5DB;
$brand-secondary-lighten-6: #FFFBF0;

// Brand Neutral

$brand-neutral-black: #1D1C21;
$brand-neutral-1: #332B4A;
$brand-neutral-2: #3F3851;
$brand-neutral-3: #5A5469;
$brand-neutral-4: #716C7F;
$brand-neutral-5: #898593;
$brand-neutral-6: #A7A3B2;
$brand-neutral-7: #DCD9E2;
$brand-neutral-8: #EEECF3;
$brand-neutral-9: #F7F6F9;
$brand-neutral-white: #FFF;

// Accent

$accent-1: #EB2453;
$accent-1-lighten: #FFEAEF;
$accent-2: #A7E204;
$accent-2-lighten: #F0FFC6;
$accent-3: #C70D95;
$accent-3-lighten: #FFEAF9;
$accent-4: #221874;
$accent-4-lighten: #E9E8F1;
$accent-5: #BC24EB;
$accent-5-lighten: #F6DAFF;
$accent-6: #1CE4B5;
$accent-6-lighten: #DEFFF7;