.status-col {
	background-color: #f8f8f8;
	border-radius: 5px;
	margin-top: 10px;
	min-height: 70vh;
	padding: 10px 20px;
}

.loading-indicator.loading-animation {
	margin: 0 !important;
	margin-right: 10px !important;
}
