.ticket-preview-container .panel {
	margin-bottom: 0;
}

.ticket-preview-container .panel .show .ticket-subject {
	overflow: visible;
	text-overflow: ellipsis;
	white-space: normal;
}

.ticket-preview-container .panel .collapsed .ticket-subject {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ticket-preview-container:hover {
	background-color: #f4f9f9 !important;
}
