$table-spaced: (
    border: 0,
    border-spacing: 0 0.5rem,
    border-collapse: separate,
    box-shadow: var(--table-spaced-box-shadow)
);
    
$table-head-cell-spaced: (
    border-radius: 0,
);
        
$table-bordeless-spaced: (
    border-top: 0,
);

$table-header-first-cell-spaced: (
    border-top-left-radius: var(--table-spaced-sm-row-border-radius),
);

$table-header-last-cell-spaced: (
    border-top-right-radius: var(--table-spaced-row-border-radius),
);

$table-left-cell-spaced: ( 
    border-bottom-left-radius: var(--table-spaced-row-border-radius),
);

$table-right-cell-spaced: ( 
    border-bottom-right-radius: var(--table-spaced-row-border-radius),
);

$table-title: (
    color: #f989,
);

$table-list-title: (
    color: var(--table-title-color),
    font-weight: var(--table-title-font-weight),
    font-size: var(--table-title-font-size),
    line-height: var(--table-title-line-height,)
);

$table-list-border-radius: var(--table-row-border-radius);

$c-table-list: (
    color: var(--table-color),
    border-color: var(--table-border-color),
    border-radius: $table-list-border-radius,
    border-width: var(--table-border-width),
    box-shadow: var(--table-box-shadow),
    font-size: var(--table-font-size),
    font-weight: var(--table-font-weight),
);

$table-list-head-bg: var(--table-header-background-color);
$table-list-head-font-size: var(--table-header-font-size);
$table-list-head-font-weight: var(--table-header-font-weight);
$table-list-head-height: var(--table-header-cell-min-height);
$table-list-head-vertical-alignment: var(--table-header-vertical-align);

$table-head-cell: (
    color: var(--table-header-color),
    line-height: var(--table-header-line-height),
    padding: var(--table-header-cell-padding-y) var(--table-header-cell-padding-x),
);

$table-list-accent-bg: var(--table-row-background-color-alternate);


$table-list-hover-bg: var(--table-row-background-color-hover);
$table-hover-color: var(--table-row-color-hover);

$c-table-list-cell: (
    border-color: var(--table-row-border-color),
    border-width: var(--table-row-border-width),
    line-height: var(--table-line-height),
);

$table-header-first-cell: (
    border-top-left-radius: calc(var(--table-row-border-radius) - var(--table-border-width)),
);

$table-header-last-cell: (
    border-top-right-radius: calc(var(--table-row-border-radius) - var(--table-border-width)),
);

$table-first-cell: (
    border-bottom-left-radius: calc(var(--table-row-border-radius) - var(--table-border-width)),
);

$table-last-cell: (
    border-bottom-right-radius: calc(var(--table-row-border-radius) - var(--table-border-width)),
);

$table-cell: (
    background-color: var(--table-row-background-color),
    padding: var(--table-cell-padding-y) var(--table-cell-padding-x),
);

$table-title-link: (
    color: var(--table-title-link-color),
    cursor: pointer,
    text-decoration: var(--table-title-link-text-decoration),

    hover: (
        color: var(--table-title-link-color-hover),
        text-decoration: var(--table-title-link-text-decoration-hover), 
    ),
);

$table-active:  (
    background-color: var(--table-row-background-color-active),
);

$table-img-max-height:  var(--table-image-height);
