body {
	--form-input-focus-color: #{$primary};
}

.form-control {
	&::placeholder {
		font-size: var(--form-input-placeholder-font-size);
		font-weight: var(--form-input-placeholder-font-weight);
		line-height: var(--form-input-placeholder-line-height);
		transition: color 0.15s ease-in-out;
	}
}

.form-condensed {
	--form-input-label-line-height: 1;

	label {
		background-color: var(--condensed-form-input-background-color);
		margin: 0 var(--condensed-form-input-label-margin-x);
		opacity: 0.4;
		padding: 0 var(--condensed-form-input-label-padding-x);
		pointer-events: none;
		position: absolute;
		transform: translateY(
			calc(#{$input-border-top-width} + #{$input-padding-y})
		);
		transform: translateY(
			calc(
				(
						#{$input-border-width} + #{$input-padding-y} +
							(var(--form-input-line-height) / 2)
					) - 0.5em
			)
		);
		transition: background-color 0.15s ease-in-out,
			font-size 0.15s ease-in-out, transform 0.15s ease-in-out;
	}

	.form-control {
		background-color: var(--condensed-form-input-background-color);
		border-color: var(--condensed-form-input-border-color, transparent);

		&::placeholder {
			opacity: 0;
		}
	}

	&.form-group,
	.form-group {
		&:focus-within,
		&.focus {
			label {
				background-color: var(
					--condensed-form-input-focus-label-background-color,
					var(--form-input-background-color)
				);
				color: var(--form-input-focus-color);
				font-size: var(--condensed-form-input-filled-label-font-size);
				font-weight: var(
					--condensed-form-input-filled-label-font-weight
				);
				opacity: 1;
				transform: translateY(-0.5em);
			}

			.form-control {
				background-color: var(
					--condensed-form-input-focus-background-color,
					var(--form-input-background-color)
				);
				border-color: var(
					--form-input-focus-color
				);
			}
		}
	}
}

.filled.form-group,
.filled .form-group {
	label {
		background-color: var(
			--condensed-form-input-focus-label-background-color,
			var(--form-input-background-color)
		);
		color: var(--condensed-form-input-filled-label-color);
		font-size: var(--condensed-form-input-filled-label-font-size);
		font-weight: var(--condensed-form-input-filled-label-font-weight);
		opacity: 1;
		transform: translateY(-0.5em);
	}

	.form-control {
		background-color: var(
			--condensed-form-input-filled-background-color,
			var(--form-input-background-color)
		);
		border-color: var(--condensed-form-input-filled-border-color);
	}
}

fieldset[disabled] .form-condensed .form-control,
fieldset[disabled] .form-condensed.disabled label,
.form-condensed .form-control[disabled],
.form-condensed label.disabled {
	background-color: var(--condensed-form-input-disabled-background-color);
	border-color: var(--condensed-form-input-disabled-background-color);
}

label {
	line-height: var(--form-input-label-line-height);
	margin-left: var(--form-input-label-margin-left);
	margin-right: var(--form-input-label-margin-right);
	margin-top: var(--form-input-label-margin-top);
	transition: color 0.15s ease-in-out;
}

.form-feedback-item {
	background-color: var(--form-feedback-background-color);
	border-radius: var(--form-feedback-item-border-radius);
	color: var(--form-feedback-color);
	line-height: var(--form-feedback-item-line-height);
	margin: var(--form-feedback-item-margin);
	padding: var(--form-feedback-item-padding);
}

.form-text {
	margin: var(--form-text-margin);

	&:empty {
		margin: 0;
	}
}

.has-error {
	--form-feedback-background-color: var(--color-state-error-lighten);
	--form-feedback-color: var(--color-state-error);
	--condensed-form-input-filled-label-color: var(--color-state-error);
	--condensed-form-input-filled-background-color: var(--color-neutral-10);
	--condensed-form-input-filled-border-color: var(--color-state-error);
}

.has-success {
	--form-feedback-background-color: var(--color-state-success-lighten);
	--form-feedback-color: var(--color-state-success);
	--condensed-form-input-filled-label-color: var(--color-state-success);
	--condensed-form-input-filled-background-color: var(--color-neutral-10);
	--condensed-form-input-filled-border-color: var(--color-state-success);
}

.has-warning {
	--form-feedback-background-color: var(--color-state-warning-lighten);
	--form-feedback-color: var(--color-state-warning);
	--condensed-form-input-filled-label-color: var(--color-state-warning);
	--condensed-form-input-filled-background-color: var(--color-neutral-10);
	--condensed-form-input-filled-border-color: var(--color-state-warning);
}
